<template name="home">
    <div>
        {{loginButtons}}
    </div>

    <div id="structure" class="main-content padding-wrapper" style="display: none">
        <div class="ui fitted horizontal icon divider"><i class="magic icon"></i></div>
        <div class="ui two column stackable grid">
            <div class="middle aligned row">
                <div class="column">
                    <h3 class="large ui header">Folder structure <div class="sub header">seperate your concerns</div></h3>
                    <p>
                        There's already a structure provided for your meteor app, with some content filled in to see
                        where you can place what kind of code or where what code is generated. Here's the default structure
                        as a list:
                        <br />
                        <ul>
                            {{#each folder}}
                            <li>
                                {{root}}
                                {{#if children}}
                                <ul>
                                    {{#each children}}
                                    <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                                {{/if}}
                            </li>
                            {{/each}}
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
